@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: "Basier Square";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/basiersquare-regular-webfont.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Basier Square";
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/basiersquare-medium-webfont.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Basier Square";
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/basiersquare-semibold-webfont.woff2) format("woff2");
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground text-body;
    font-family: "Basier Square", sans-serif !important;
  }

  /* Mobbin styles */
  .marge-x {
    @apply px-4 min-[720px]:px-6 min-[1280px]:px-8 min-[1536px]:px-20;
  }

  .-margin-x {
    @apply -mx-3 px-3 md:-mx-6 md:px-6;
  }

  .text-body {
    @apply font-medium text-base tracking-[-.008em];
  }

  .text-heading {
    @apply font-semibold text-4xl tracking-[-.016em] md:text-[44px] md:leading-[48px] md:tracking-[-.024em];
  }

  .text-heading-xl {
    @apply font-semibold text-4xl tracking-[-.016em] md:text-[56px] md:leading-[64px] md:tracking-[-.024em];
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* carousel fade effect */
.fade__container {
  transform: none !important;
  display: flex;
  position: relative;
  height: 100%;
}

.fade__slide {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0 !important;
  right: 0 !important;
  opacity: 0;
  transition: opacity 1s;
}

.fade__is-ready .fade__slide  {
  position: absolute;
}

.fade__slide.is-snapped {
  opacity: 1;
  z-index: 1;
  transition: opacity 0.8s;
}